@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #27374d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a:link,
a:visited {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.app {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.toggle-open {
  color: #dde6ed;
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 15%;
}

.repertoir {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #dde6ed;
  padding: 3rem;
}

.songbank {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 2rem;
  width: 100%;
  height: 35vh;
  font-size: 1.5rem;
  margin-bottom: 3rem;

  .song {
    display: flex;
    margin-bottom: 1rem;

    p {
      user-select: none;
    }

    &:hover {
      color: #526d82;
      cursor: pointer;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem;
      margin-left: 1rem;
    }
  }
}

button,
select,
input {
  background-color: #526d82;
  color: #fff;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.playlist {
  background-color: #27374d;
  color: #dde6ed;
  width: 100%;
  margin-bottom: 10rem;
  padding: 5rem;

  ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 40rem;
  }

  li {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .num {
    font-size: 5rem;
    font-weight: 700;
    color: #526d82;
  }
}

button:hover {
  background-color: #435b6d;
}

.lyrics {
  font-size: 1rem;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  align-self: flex-start;
  color: #526d82;

  &:hover {
    color: #8496a4;
  }
}
